.menuHeader {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2.5rem;
}

.menuHeader .buttonsGroupContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 8.75rem;
}

.menuHeader .buttonsGroupContainer button {
    background: none;
    background-color: var(--color-8);
    border: none;
    border-radius: 50%;
    box-shadow: 0px 1.25rem 3.125rem rgba(191, 21, 108, 0.05);
    height: 3.75rem;
    cursor: pointer;
    width: 3.75rem;
}

.menuHeader .buttonsGroupContainer button > * {
    pointer-events: none;
}

.menuHeader .buttonsGroupContainer button > img {
    height: 2rem;
    width: 2rem;
}