.schoolPerformance {
    background-color: var(--color-8);
    border-radius: 1.25rem;
    grid-column: 1 / -1;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.schoolPerformance > div {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 93.148148%;
}

.schoolPerformance > div > header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.schoolPerformance > div > header > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.schoolPerformance > div > header > div > h2 {
    font-size: var(--heading-size-4);
}

.schoolPerformance > div > header > div > div:first-child {
    margin-right: 1.004375rem;
}