.navlist {
    list-style: none;
    margin-left: auto;
    width: 86.66666%;
}

.navlist li {
    align-items: center;
    display: flex;
    height: 4.5rem;
    justify-content: center;
}

.navlist li:not(:last-child) {
    margin-bottom: 0.5rem;    
}