.navElement {
    align-items: center;
    border-radius: 2.5rem 0px 0px 2.5rem;
    color: var(--color-10);
    display: flex;
    font-size: var(--font-size-1);
    height: 4.5rem;
    min-width: 100%;
    text-decoration: none;
}

.navElement span {
    align-items: center;
    display: flex;
}

.navElement span img {
    height: 2.5rem;
    margin-right: 1.5rem;
    width: 2.5rem;
}

.navElement[data-isactive='true'] {
    background-color: var(--color-7);
    color: var(--color-1);
}

.navElement[data-isactive='false'] span img {
    opacity: 0.6;
}

.navElement span {
    margin-left: 1.5rem;
}