.rightMenu {
    background-color: var(--color-8);
    height: 100%;
    padding-top: 3.125rem;
    max-width: 24.6875rem;
    width: 100%;
}

.rightMenu .rightMenuInnerContainer {
    margin-left: auto;
    margin-right: auto;
    width: 78.987%;
    OUTLINE: 1PX SOLID RED;
}