.navElement {
    align-items: center;
    border-radius: 40px 0px 0px 40px;
    color: var(--color-10);
    display: flex;
    font-size: var(--font-size-1);
    height: 4.5rem;
    min-width: 100%;
    text-decoration: none;
}

.navElement.active {
    background-color: var(--color-7);
    color: var(--color-1);
}

/* FOR TESTING PURPOSES */
.navElement:hover {
    background-color: var(--color-7);
    color: var(--color-1);
}

.navElement span {
    margin-left: 1.5rem;
    /* OUTLINE: 1PX SOLID GOLD; */
}