.navlist {
    list-style: none;
    margin-left: auto;
    max-width: 18.6875rem;
}

.navlist li {
    align-items: center;
    display: flex;
    height: 4.5rem;
    justify-content: center;

    /* OUTLINE: 1PX SOLID GOLD; */
}

.navlist li:not(:last-child) {
    margin-bottom: 0.5rem;    
}