.sectionCanvas {
    grid-column: 1 / -1;
    padding-bottom: 2.8125rem;
    padding-top: 2.875rem;
}

.sectionCanvas > div {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 88.4259259%;
}

@media screen and (max-width: 1330px) {
    .sectionCanvas > div {
        display: grid;
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
    }
}

@media screen and (max-width: 845px) {
    .sectionCanvas > div {
        grid-row-gap: 2.5rem;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(4, auto);
    }
}