.aside {
    background-color: var(--color-1);
    width: 21.5625rem;
    padding-top: 3.125rem;
}

@media screen and (max-width: 1730px) {
    .aside {
        width: 7.5rem;
    }
}

@media screen and (max-width: 845px) {
    .aside {
        width: 15%;
    }
}