@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-1: rgba(77, 68, 181, 1);
    --color-2: rgba(251, 125, 91, 1);
    --color-3: rgba(252, 196, 62, 1);
    --color-4: rgba(48, 57, 114, 1);
    --color-5: rgba(76, 188, 154, 1);
    --color-6: rgba(255, 69, 80, 1);
    --color-7: rgba(243, 244, 255, 1);
    --color-8: rgba(255, 255, 255, 1);
    --color-9: rgba(245, 245, 245, 1);
    --color-10: rgba(193, 187, 235, 1);
    --color-11: rgba(160, 152, 174, 1);
    --color-12: rgba(77, 68, 181, 0.1);
    --linear-gradient-1-color-1: rgba(251, 125, 91, 1);
    --linear-gradient-1-color-2: rgba(251, 125, 91, 0);
    --linear-gradient-2-color-1: rgba(252, 196, 62, 1);
    --linear-gradient-2-color-2: rgba(252, 196, 62, 0);
    --linear-gradient-3-color-1: rgba(77, 68, 181, 1);
    --linear-gradient-3-color-2: rgba(48, 57, 114, 1);
    --font-size-1: 1.125rem;
    --font-size-2: 0.875rem;
    --heading-size-1: 3rem;
    --heading-size-2: 2.5rem;
    --heading-size-3: 2.25rem;
    --heading-size-4: 1.5rem;
    --heading-size-5: 1.125rem;
    --heading-size-6: 0.875rem;
    --container-1-width: 91.52542%;
    --animation-duration-1: 0.25s;
}

html {
    height: 100%;
    box-sizing: border-box;
    font-family: 'Poppins';
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
}

#root {
    display: flex;
    max-width: 120rem;
}

main {
    background-color: var(--color-7);
    padding-top: 3.125rem;
    width: 100%;
}

main > div {
    margin-left: auto;
    margin-right: auto;
    width: var(--container-1-width);
}

.sectionTitle {
    color: var(--color-4);
    font-size: var(--heading-size-3);
}